{"CLIENT_ID": "{{ TRAKT_CLIENT_ID }}", "CLIENT_SECRET": "{{ TRAKT_CLIENT_SECRET }}", "OAUTH_TOKEN": "{{ TRAKT_OAUTH_TOKEN }}", "OAUTH_REFRESH": "{{ TRAKT_OAUTH_REFRESH }}", "OAUTH_EXPIRES_AT": {{ TRAKT_OAUTH_EXPIRES_AT }} }